.header_c
{
width:100%;
height:40px;
background:#eee;
border-bottom:1px solid #DDD;
}

.header
{
margin:10px 0px 10px 0px;
}

.content_c
{
width:100%;
height:auto;
padding-top:30px;
}

#right{
float:left;
background:#eee;
margin-left:50px;
border:1px solid #DDD;
clear:both;
overflow:hidden;
}

#image
{
width:200px;
height:300px;

}

#left
{
margin:0px 150px 0px 400px;
width:auto;
height:auto;
background:#eee;
border:1px solid #DDD;

}

.footer_c
{
margin-top:590px;
width:100%;
height:auto;
min-height:20px;
background:#eee;
border-top:1px solid #DDD;
}

.inputs
{
width:220px;
}

#menu
{
float:right;
padding:10px 10px 10px 10px;
}